<h2>Hiking</h2>

<table style="width:100%">
  <tr>
    <th>Location</th>
    <th>City</th>
    <th>State</th>
    <th>Date</th>
    <th>Organizer</th>
    <th>Expertise level</th>
    <th>Price($)</th>
  </tr>
  <tr>
    <td>Smoky Mountains - Gatlinburg </td>
    <td>Gatlinburg</td>
    <td>Tennesse</td>
    <td>08/22/2022</td>
    <td>Invisible Inc.</td>
    <td>Intermediate</td>
    <td>100</td>
  </tr>
  <tr>
    <td>Centro comercial Moctezuma</td>
    <td>Francisco Chang</td>
    <td>Mexico</td>
    <td>08/22/2022</td>
    <td>Invisible Inc.</td>
    <td>Intermediate</td>
    <td>200</td>
  </tr>
</table>