<div class="container">
    <div class="row">
        <div class="col-sm-4">
            <h2>Add a New Activity Here!</h2>
            <form id="addActivity" action="/createActivity" method="POST">
                <div class="form-group">
                    <label>Enter Activity Name
                        <input type="text" id="newActivityName" placeholder="Activity name" name="activityName"
                            required>
                    </label>
                </div>

                <div class="form-group">
                    <label>Enter Description for activity
                        <input type="text" id="newActivityDesc" placeholder="Activity description"
                            name="activityDescription" minlength="100" required>
                    </label>
                </div>

                {{!-- <input type="submit" value="Add Activity" id="createActivitybtn" name="createActivityButton"><br>
                --}}
                <input type="submit" class="btn btn-primary" name="addActivity" value="Add Activity">
            </form>
        </div>
    </div>
</div>