<main>
    
    <h1>Activities we offer</h1>
    {{#each activities}}
    <div class = 'activity'>
        <h2><a href="/{{this.name}}">{{this.name}}</a></h2>
        <p class="'description">{{this.description}}</p>
    </div>
    {{/each}}
    <form class=""></form>
</main>
