<main>

    <h1>Activities we offer</h1>
    <form id="searchForm">
        <label for="search_term">Search Activity</label>
        <input type="text" id="search_term" placeholder="Search with activity's name" />
        <button type="submit">Search Activity</button>
    </form>
    <ul id="activityList" hidden></ul>
    
    {{#each activities}}
    <div class='activity'>
        <h2><a href="/{{this.name}}">{{this.activityName}}</a></h2>
        <p class="description">{{this.activityDesc}}</p>
    </div>
    {{/each}}

    <div id="login">
        <a href="/users/login">Login</a>

        <a href="/users/signup">Signup</a>

    <form class="addActivity">
        <input type="submit" value="Add Activity">
    </form>
    <script src="../../public/js/activities.js"/>
</main>
