<div class="container m-5">
    <div>
        <h1>You are logged out</h1>
    </div>

    <ul style="margin-top: 20px;">
        <li><a href="/users/login">Click here to login here!</a></li>
    </ul>


</div>