<div class="row">
    <div>
        <h1>User is not logged in to view this page!</h1>
    </div>

    <ul style="margin-top: 20px;">
        <li><a href="/">Click here to login here!</a></li>
    </ul>


</div>