<div class="row">
    <div>
        <h1>Congratulations, "{{this.username}}" you are logged in!</h1>
    </div>

    <ul style="margin-top: 20px;">
        <li><a href="/logout">Click here to logout!</a></li>
    </ul>


</div>