<div class="row">

    <h2>Welcome, {{this.firstname}} {{this.lastname}} to NatureScape!</h2>

    <ul style="margin-top: 20px;">
        <li><a href="/private/profile">Click here to go to your profile!</a></li>
        <li><a href="/users/logout">Click here to logout!</a></li>
        <li><a href="/">Click here to view all activities!</a></li>
    </ul>


</div>