<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>NatureScape</title>
    <link rel="stylesheet" href="/public/css/site.css">
</head>

<body>
    <header class="header">
        <h1>NatureScape</h1>
        <p>Group Activity Finder</p>
        <br>
    </header>
    <br>
    <main>
        {{{body}}}
    </main>

    <!-- Footer. This section contains an ad for W3Schools Spaces. You can leave it to support us. -->
    <footer class="footer">
        <p class="w3-small">NatureScape</p>
        <a class="w3-button w3-round-xxlarge w3-small w3-light-grey w3-margin-bottom"
            href="https://www.w3schools.com/spaces" target="_blank">Back to Home Page</a>

    </footer>
    <!-- End footer -->

    <script src="https://code.jquery.com/jquery-2.2.4.min.js"
        integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"
        integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS"
        crossorigin="anonymous"></script>
    <script src="/public/js/prime.js"></script>
</body>

</html> 