body {
    background-color: #fff;
    font: normal "Times New Roman", Times, serif;
}

p {
    display: block;
    border-bottom: 1px solid #e1c2f7;
    padding: 0 0 20px 0;
}

.column {
    float: center;
}

.left {
    width: 75%;
}

.right {
    width: 25%;
}

.col-sm-6 {
    text-align: center;


}

.footer {
    position: relative;
    height: 200px;
    background-color: #f4f3f3;
    text-align: center;
    font-size: 12px;
    line-height: 18px;
    padding-top: 20px;
    bottom: 0px;
    width: 100%;
}

.header {
    position: relative;
    height: 80px;
    background-color: #f4f3f3;
    text-align: center;
    font-size: 15px;
    line-height: 18px;
    padding-top: 20px;
    bottom: 0px;
    width: 100%;
}



.addActivty button:hover {
    background-color: greenyellow;

}


.activity h2 {
    margin-top: 32px;
    color: #e1c2f7;
    text-transform: uppercase;

}

a {
    color: #c78bf2;
}

a:hover {
    color: greenyellow;
}

table, th, td {
    border:1px solid black;
}
