.column {
    float: center;
}

.left {
    width: 75%;
}

.right {
    width: 25%;
}

.col-sm-6{
    text-align: center;


}

.footer {
    position: relative;
    height: 200px;
    background-color: #f4f3f3;
    text-align: center;
    font-size: 12px;
    line-height: 18px;
    padding-top: 20px;
    bottom: 0px;
    width: 100%;
}

.header {
    position: relative;
    height: 80px;
    background-color: #f4f3f3;
    text-align: center;
    font-size: 15px;
    line-height: 18px;
    padding-top: 20px;
    bottom: 0px;
    width: 100%;
}

#loginSignup{
    float:right;
margin-right:20px;
height:5px;
}

.addActivty button:hover{
    background-color: greenyellow;

}

table, th, td {
    border:1px solid black;
  }